.text {
    font-size: 14px;
    font-weight: 500;
    line-height: 18.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.text--gray {
    color: rgba(71, 71, 71, 1);
}

.text--default {
    color: rgba(0, 0, 0, 0.42);
}
